{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Object Detection</title>
</head>
<body>
    <header>
        <div class="home-button">
            <a href="{% url 'home' %}">
                <i class="fa fa-home"></i> Home
            </a>
        </div>
        <h1>Object Detection</h1>
    </header>
    <main>
        <form action="{% url 'annotation_result' %}" method="post" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            <label for="myFile" class="custom-file-upload">Choose File</label>
            <input type="file" id="myFile" name="imageFile" onchange="loadImage(event, 'imageFile')">
            <input type="submit" value="DETECT">
        </form>  
        <div class="image-display">
            <div>
                <h3>Original Image</h3>
                <img src="#" alt="Original Image" id="originalImage">
            </div>
            <div>
                <h3>Object Detection Image</h3>
                <img src="#" alt="Object Detection Image" id="detectionImage">
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Huy Hoang Nguyen</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
