{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Image Editing</title>
</head>
<body>
    <header>
        <div class="home-button">
            <a href="{% url 'home' %}">
                <i class="fa fa-home"></i> Home
            </a>
        </div>
        <h1>Image Editing Options</h1>
    </header>
    <main>
        <div class="image-container">
            <form action="{% url 'editing_result' %}" method="post" enctype="multipart/form-data" class="submit-button">
                {% csrf_token %}
                <label for="myFile" class="custom-file-upload">Choose File</label>
                <input type="file" id="myFile" name="imageFile" onchange="loadImage(event, 'imageFile')">
                <select name="transformation" id="transformationSelect">
                    <option value="original">Original</option>
                    <option value="vflip">Vertical Flip</option>
                    <option value="hflip">Horizontal Flip</option>
                    <option value="gray">Grayscale</option>
                    <option value="contrast">Autocontrast</option>
                    <option value="blur">Blur</option>
                </select>
                <input type="submit" value="Submit">
            </form>     
            <div>
                <h3>Original Image</h3>
                <img src="#" alt="Original Image" id="originalImage">
            </div>
            <div>
                <h3>Edited Image</h3>
                <img src="#" alt="Edited Image" id="editedImage">
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Huy Hoang Nguyen</p>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
