{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Image Comparison</title>
</head>
<body>
    <header>
        <div class="home-button">
            <a href="{% url 'home' %}">
                <i class="fa fa-home"></i> Home
            </a>
        </div>
        <h1>Image Comparison</h1>
    </header>
    <main>
        <form action="{% url 'similar_result' %}" method="post" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %} <!-- Django's template tag for CSRF protection token -->
            
            <!-- The first file input for image 1 -->
            <label for="uploadInput1" class="custom-file-upload">Upload Image 1</label>
            <input type="file" accept="image/*" id="uploadInput1" name="image1" onchange="loadImage(event, 'image1')">
            
            <!-- The second file input for image 2 -->
            <label for="uploadInput2" class="custom-file-upload">Upload Image 2</label>
            <input type="file" accept="image/*" id="uploadInput2" name="image2" onchange="loadImage(event, 'image2')">
            
            <!-- The submit button for the form -->
            <input type="submit" value="COMPARE">
        </form>
        <div class="image-display">
            <div>
                <h3>Image 1</h3>
                <img src="#" alt="Image 1" id="imageDisplay1">
            </div>
            <div>
                <h3>Image 2</h3>
                <img src="#" alt="Image 2" id="imageDisplay2">
            </div>
        </div>
        <div class="result-display">
            <h3>Similarity Result</h3>
            <p id="similarityResult">-</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Huy Hoang Nguyen</p>
    </footer>

    <script>
        function loadImage(event, target) {
            var imageDisplay = document.getElementById('imageDisplay' + target.charAt(target.length - 1));
            imageDisplay.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
</body>
</html>
